<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'prostaPogoda' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>74257679-3f2e-46a2-bc69-d881a9d66c83</InstrumentationKey>
</ApplicationInsights>